In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(6,4), index= dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01  0.198422 -0.085779 -1.217106  0.850349
2013-01-02  0.918007  0.403444  1.103269  1.511412
2013-01-03 -0.031790  0.867086  1.688261  0.267490
2013-01-04 -0.643825  1.115418  0.272618 -0.414567
2013-01-05 -0.088921 -0.156530  1.965224  1.252473
2013-01-06 -0.969578 -0.090483  1.713930  1.621135

In [9]:
df2 = pd.DataFrame({ 'A' : 1.,'B' : pd.Timestamp('20130102'),'C' : pd.Series(1,index=list(range(4)),dtype='float32'),'D' : np.array([3] * 4,dtype='int32'),'E' : pd.Categorical(["test","train","test","train"]),'F' : 'foo' })
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [10]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [11]:
df.head()

                   A         B         C         D
2013-01-01  0.198422 -0.085779 -1.217106  0.850349
2013-01-02  0.918007  0.403444  1.103269  1.511412
2013-01-03 -0.031790  0.867086  1.688261  0.267490
2013-01-04 -0.643825  1.115418  0.272618 -0.414567
2013-01-05 -0.088921 -0.156530  1.965224  1.252473

In [13]:
df.tail(3)

                   A         B         C         D
2013-01-04 -0.643825  1.115418  0.272618 -0.414567
2013-01-05 -0.088921 -0.156530  1.965224  1.252473
2013-01-06 -0.969578 -0.090483  1.713930  1.621135

In [15]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [16]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [17]:
df.values

array([[ 0.19842153, -0.08577857, -1.21710631,  0.85034928],
       [ 0.91800732,  0.4034443 ,  1.10326928,  1.51141217],
       [-0.0317896 ,  0.86708634,  1.68826095,  0.26748988],
       [-0.6438246 ,  1.11541774,  0.27261778, -0.41456694],
       [-0.08892053, -0.15652966,  1.96522363,  1.25247305],
       [-0.96957825, -0.09048273,  1.71392953,  1.62113519]])

In [21]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.102947  0.342193  0.921032  0.848049
std    0.660610  0.547034  1.211028  0.791521
min   -0.969578 -0.156530 -1.217106 -0.414567
25%   -0.505099 -0.089307  0.480281  0.413205
50%   -0.060355  0.158833  1.395765  1.051411
75%    0.140869  0.751176  1.707512  1.446677
max    0.918007  1.115418  1.965224  1.621135

In [29]:
df.sort_index(axis=1,ascending=True)

                   A         B         C         D
2013-01-01  0.198422 -0.085779 -1.217106  0.850349
2013-01-02  0.918007  0.403444  1.103269  1.511412
2013-01-03 -0.031790  0.867086  1.688261  0.267490
2013-01-04 -0.643825  1.115418  0.272618 -0.414567
2013-01-05 -0.088921 -0.156530  1.965224  1.252473
2013-01-06 -0.969578 -0.090483  1.713930  1.621135

In [31]:
df.sort_values(by='C')

                   A         B         C         D
2013-01-01  0.198422 -0.085779 -1.217106  0.850349
2013-01-04 -0.643825  1.115418  0.272618 -0.414567
2013-01-02  0.918007  0.403444  1.103269  1.511412
2013-01-03 -0.031790  0.867086  1.688261  0.267490
2013-01-06 -0.969578 -0.090483  1.713930  1.621135
2013-01-05 -0.088921 -0.156530  1.965224  1.252473

In [33]:
df['A']

2013-01-01    0.198422
2013-01-02    0.918007
2013-01-03   -0.031790
2013-01-04   -0.643825
2013-01-05   -0.088921
2013-01-06   -0.969578
Freq: D, Name: A, dtype: float64

In [36]:
df.loc[dates[0]]

A    0.198422
B   -0.085779
C   -1.217106
D    0.850349
Name: 2013-01-01 00:00:00, dtype: float64

In [40]:
df.loc[dates[0]:dates[2],['A','B']]

                   A         B
2013-01-01  0.198422 -0.085779
2013-01-02  0.918007  0.403444
2013-01-03 -0.031790  0.867086

In [51]:
p = list([123])
p.append(124)
p

[123, 124]

In [52]:
123 in p

True